<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
    <link rel="stylesheet" href="css/account/style.css">
    <link rel="stylesheet" href="css/index/layout.css">
</head>
<body>
    <section class="acc"> 
        <div class="head">
            <a href="home"><- Back</a>
            <h1>My Account</h1>
        </div>
        <div class="box">
            <div class="img">
                <img src="" alt="">
            </div>
            <h2>Saputra Ari</h2>
            <div class="group">
                <h5>Name</h5>
                <p>Saputra Ari</p>
            </div>
            <div class="group">
                <h5>Name</h5>
                <p>Saputra Ari</p>
            </div>
            <div class="group">
                <h5>Name</h5>
                <p>Saputra Ari</p>
            </div>
            <div class="group">
                <h5>Name</h5>
                <p>Saputra Ari</p>
            </div>
        </div>
    </section>
</body>
</html>