<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wellcome</title>
    <link rel="stylesheet" href="css/welcome/style2.css">
    <link rel="stylesheet" href="css/index/layout.css">
</head>

<body>
    <section class="wellcome c-gradient">
        <nav class="container">
            <a href="" class="logo">
                <img src="img/welcome/logo.png" alt="">
            </a>
            <div class="profile">
                <span>
                    <i class="icon_user"></i>
                    My Account
                </span>
                <ul class="d-none m-profile">
                    <li><a href="account"><i class="icon_user2"></i>My Profile</a></li>
                    <li><a href=""><i class="icon_logout"></i>Logout</a></li>
                </ul>
            </div>
        </nav>

        <div class="banner">
            <div class="box">
                <h1>Prisma Telkom University</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit eos numquam eveniet minus? Necessitatibus a eos odio, in accusantium doloribus. Delectus modi commodi possimus a! Repellendus, modi vero. Temporibus, omnis.</p>
                <div class="btn">
                    <a href="dashboard" class="btn-primary">Visit   Us  To Know  More</a>
                </div>
            </div>
            <div class="img">
                <img src="img/welcome/img.png" alt="">
            </div>
        </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="js/index/script.js"></script>
</body>

</html>