<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Market</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link rel="stylesheet" href="css/market/style.css">
    <link rel="stylesheet" href="css/index/layout.css">
</head>

<body>
    <header class="container" style="background-image: url(img/market/market.png);" id="page-detail">
        <!-- Navbar -->
        <nav>
            <a href="#" class="logo">
                <img src="img/index/logo.png" alt="">
            </a>
            <ul>
                <li><a href="dashboard">Home</a></li>
                <li><a href="fad">Food&Drink</a></li>
                <li><a href="market">Market</a></li>
                <li><a href="boarding-house">Boarding House</a></li>
                <li><a href="place">Telyu Place</a></li>
                <li class="oth">
                    <span>Other</span>
                    <ul class="m-oth d-none">
                        <li><a href="atm">ATM</a></li>
                        <li><a href="worship">Worship Place</a></li>
                        <li><a href="service">Service</a></li>
                        <li><a href="about">About Us</a></li>
                    </ul>
                </li>
            </ul>
            <div class="profile">
                <span>
                    <i class="icon_user"></i>
                    My Account
                </span>
                <ul class="d-none m-profile">
                    <li><a href="account"><i class="icon_user2"></i>My Profile</a></li>
                    <li><a href="/logout?type=DELETE" data-method="delete"><i class="icon_logout"></i>Logout</a></li>
                </ul>
            </div>
        </nav>
        <!-- Banner -->
        <div class="banner">
            <h1 class="c-white">Market</h1>
        </div>
    </header>

    <!-- market -->
    <section class="container market">
        <div class="heading1">Find the shopping place of you choice
            happy shopping!!</div>
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="css/market/alfa.png" alt="">
                    <div class="text">
                        <div class="title">Alfamart</div>
                        <div class="sub2"><i class="icon_jam"></i> 07:00 - 22:00 WIB</div>
                        <div class="sub2"><i class="icon_jalan"></i> Ds, Jl.Sukabirus, Rt 03, Rw 15, Desa Citeureup Kec. Dayeuh Kolot Bandung</div>
                    </div>
                    <div class="btn">
                        <a href="">View Detail</a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <img src="css/market/alfa.png" alt="">
                    <div class="text">
                        <div class="title">Alfamart</div>
                        <div class="sub2"><i class="icon_jam"></i> 07:00 - 22:00 WIB</div>
                        <div class="sub2"><i class="icon_jalan"></i> Ds, Jl.Sukabirus, Rt 03, Rw 15, Desa Citeureup Kec. Dayeuh Kolot Bandung</div>
                    </div>
                    <div class="btn">
                        <a href="">View Detail</a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <img src="css/market/alfa.png" alt="">
                    <div class="text">
                        <div class="title">Alfamart</div>
                        <div class="sub2"><i class="icon_jam"></i> 07:00 - 22:00 WIB</div>
                        <div class="sub2"><i class="icon_jalan"></i> Ds, Jl.Sukabirus, Rt 03, Rw 15, Desa Citeureup Kec. Dayeuh Kolot Bandung</div>
                    </div>
                    <div class="btn">
                        <a href="">View Detail</a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <img src="css/market/alfa.png" alt="">
                    <div class="text">
                        <div class="title">Alfamart</div>
                        <div class="sub2"><i class="icon_jam"></i> 07:00 - 22:00 WIB</div>
                        <div class="sub2"><i class="icon_jalan"></i> Ds, Jl.Sukabirus, Rt 03, Rw 15, Desa Citeureup Kec. Dayeuh Kolot Bandung</div>
                    </div>
                    <div class="btn">
                        <a href="">View Detail</a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <img src="css/market/alfa.png" alt="">
                    <div class="text">
                        <div class="title">Alfamart</div>
                        <div class="sub2"><i class="icon_jam"></i> 07:00 - 22:00 WIB</div>
                        <div class="sub2"><i class="icon_jalan"></i> Ds, Jl.Sukabirus, Rt 03, Rw 15, Desa Citeureup Kec. Dayeuh Kolot Bandung</div>
                    </div>
                    <div class="btn">
                        <a href="">View Detail</a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <img src="css/market/alfa.png" alt="">
                    <div class="text">
                        <div class="title">Alfamart</div>
                        <div class="sub2"><i class="icon_jam"></i> 07:00 - 22:00 WIB</div>
                        <div class="sub2"><i class="icon_jalan"></i> Ds, Jl.Sukabirus, Rt 03, Rw 15, Desa Citeureup Kec. Dayeuh Kolot Bandung</div>
                    </div>
                    <div class="btn">
                        <a href="">View Detail</a>
                    </div>
                </div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>

        </div>
    </section>

    <!-- footer -->
    <footer class="container c-primary">
        <div class="f-left">
            <img src="css/img/logo-footer.png" alt="" class="logo-footer">
            <p>
                Jl.Telekomunasi 1
                terusan buah batu
                bojongsoang, jawa barat
            </p>
        </div>
        <div class="f-right">
            <ul>
                <li><a href="">Accessibility</a></li>
                <li><a href="">Follow us</a></li>
                <li class="sosmed">
                    <a href=""><i class="icon_ig"></i></a>
                    <a href=""><i class="icon_fb"></i></a>
                </li>
            </ul>
            <ul>
                <li><a href="">Help Center</a></li>
                <li><a href="">Privacy</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </div>
    </footer>
    <div class="cp c-primary">
        © 2023 Prima Komsity company. All Rights Reserved.
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="js/index/script.js"></script>
    <script>
        $(document).ready(function () {
            new Swiper('.swiper', {
                loop: true,
                nextButton: '.swiper-button-next',
                prevButton: '.swiper-button-prev',
                slidesPerView: 5,
                paginationClickable: true,
                spaceBetween: 20,
                breakpoints: {
                    1920: {
                        slidesPerView: 5,
                        spaceBetween: 30
                    },
                    1028: {
                        slidesPerView: 4,
                        spaceBetween: 30
                    },
                    480: {
                        slidesPerView: 1,
                        spaceBetween: 10
                    }
                }
            });
        });

    </script>
</body>

</html>