<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wellcome</title>
    <link rel="stylesheet" href="css/welcome/style.css">
    <link rel="stylesheet" href="css/index/layout.css
    ">
</head>

<body>
    <section class="wellcome c-gradient">
        <nav class="container">
            <a href="" class="logo">
                <img src="img/welcome/logo.png" alt="">
            </a>
            <div class="profile">
                <span>
                    <i class="icon_user"></i>
                    My Account
                </span>
                <ul class="d-none m-profile">
                    <li><a href=""><i class="icon_user2"></i>My Profile</a></li>
                    <li><a href=""><i class="icon_logout"></i>Logout</a></li>
                </ul>
            </div>
        </nav>

        <div class="banner">
            <div class="box">
                <h4>Hallo, Selamat datang</h4>
                <h1>Temukan barang atau tempat
                    yang anda cari disini</h1>
                <h5>Semua yang sedang kalian cari
                    ada disini!!</h5>
                <div class="btn">
                    <a href="register" class="btn-primary">Daftar</a>
                    <a href="login" class="btn-outline">Login</a>
                </div>
            </div>
            <div class="img">
                <img src="img/welcome/img.png" alt="">
            </div>
        </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="js/index/script.js"></script>
</body>

</html>